name: CI
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: luizm/action-sh-checker@v2
        env:
          SHFMT_OPTS: "-i 2 -ci"
        with:
          sh_checker_shellcheck_disable: false
          sh_checker_shfmt_disable: false
          sh_checker_checkbashisms_enable: false
          sh_checker_scandir: "./scripts"
          sh_checker_additional_files: "chawan.tmux"
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y bats
      - name: Run tests
        run: bats tests/
